.indexRightAds{ float:left; width:100%; height:auto; overflow:hidden; margin-top:10px;}
.ad_index_text_line{ float:left; width:98%; height:auto; overflow:hidden; clear:both; font-size:12px; margin:8px 1%;}
.ad_index_text_line a{ margin-right:10px; }