.login_page{ width:960px; height:auto; overflow:hidden; margin:0 auto; font-size:12px; color:#404040; font:12px/1.5 Tahoma,Helvetica,Arial,'ו',sans-serif;}
.login_page .login_header .login_logo{ color:#ff4400; padding:20px 0 0 52px;}
.login_page .login_header .login_logo a{ color:#ff4400;}

.login_page .login_content{height:auto; overflow:hidden; clear:both;}
.login_content #login_bgimgs{ float:left;}

.login_content .login_box{ float:left; width:327px; height:304px; margin-left:-100px; margin-top:50px;}

.login_box_header{ float:left; clear:both; width:327px; height:36px; line-height:36px;  }
.login_box_header ul li{ float:left;}
.login_box_header ul li h2{ float:left; width:163px; height:36px;  font-size:14px; text-indent:45px; 
background:url(../images/login_box_bg.png) no-repeat -400px 0; margin-right:-1px;}
.login_content .login_box_header ul li a{ float:left; width:163px; height:36px; font-size:14px; text-indent:45px; color:#999999;
background:url(../images/login_box_bg.png) no-repeat -10px 0;}
.login_box_header ul li a:hover{ color:#000000; background:url(../images/login_box_bg.png) no-repeat scroll -200px 0 transparent;}
 
.login_box_content{float:left; width:317px; height:237px; padding:0 6px 0 4px; background:url(../images/login_box_bg.png) repeat-y scroll -600px 0 transparent;}
.login_box_form{ padding:10px 0;}
.login_box_field{ float:left; clear:both; padding-top:12px;}
.login_box_field label{ float:left; width:66px; height:18px; line-height:20px;padding-right:10px; text-align:right;}
.login_input{ float:left; width:180px; height:18px; line-height:18px; padding:3px; margin-right:3px; border:1px solid #C8C8C8; vertical-align:middle;}

.login_safe{ float:left; clear:both; padding:10px 0 0 80px;}
.login_safe_field{ float:left; height:22px; line-height:22px; color:#999999; vertical-align:middle; padding:2px 0 2px 3px; overflow:hidden;}
.login_safe_field input{ margin-right:6px; vertical-align:middle;}
.login_safe_field label{ color:#aaaaaa; vertical-align:middle;}

.login_tips{ float:left; width:205px; height:28px; overflow:hidden; border:1px solid #CCCCCC; clear:both; color:#CA3E12;}

.login_submit{ float:left; clear:both; padding:10px 0 0 80px;}
.login_submit button{ width:86px; height:27px; overflow:hidden; background:url(../images/login_btn.png) no-repeat 0 -100px scroll; border:none; cursor:pointer; text-indent:-9999px; margin-right:6px; vertical-align:middle;}
.login_forget_pwd{ color:#808080; line-height:26px;}
.login_forget_pwd:hover{ color:#FF6600; text-decoration:underline;}

.login_other{ float:left; clear:both; height:18px; margin:10px 20px 0 24px; padding-left:48px; padding-top:8px;
background:url(../images/login_btn.png) repeat-x scroll 0 -258px;}
.login_other li{ float:left; background:url(../images/login_btn.png) no-repeat scroll -337px -225px transparent; padding:0 10px; }
.login_other li a{ color:#808080;}
.login_other li a:hover{ color:#FF6600; text-decoration:underline;}
#login_dynamic-pwd{background-position:-321px -196px; padding-left:23px;}
#login_register{}

.login_box_footer{ float:left;width:327px; height:6px; background:url(../images/login_box_bg.png) no-repeat scroll -950px bottom transparent; }
.login_box_mirror{ float:left;width:327px; height:46px; text-align:center; background:url(../images/login_box_mirror.png) no-repeat scroll 0 0; padding:10px 10px 0;}
.login_box_mirror a{ color:#3366CC;}